name: Release Stream PerfTest

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Release Stream PerfTest
        run:  |
          git config user.name "rabbitmq-ci"
          git config user.email "rabbitmq-ci@users.noreply.github.com"
          ci/release-stream-perf-test.sh
      - name: Package Stream Perf Test
        run: ci/package-stream-perf-test.sh
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      - name: Push to GitHub Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: packages/*
          name: ${{ env.release_name }}
          tag_name: ${{ env.tag_name }}
          target_commitish: ${{ env.release_branch }}
          prerelease: ${{ env.prerelease }}
          token: ${{ secrets.CI_GITHUB_TOKEN }}
          repository: rabbitmq/rabbitmq-stream-perf-test
      - name: Trigger Stream Perf Test Docker image build
        uses: peter-evans/repository-dispatch@v4
        with:
          event-type: new_release
          client-payload: >-
            {"version": "${{ env.release_version }}",
            "url" : "https://github.com/rabbitmq/rabbitmq-stream-perf-test/releases/download/v${{ env.release_version }}/stream-perf-test-${{ env.release_version }}.jar",
            "tags": "pivotalrabbitmq/stream-perf-test:latest,pivotalrabbitmq/stream-perf-test:${{ env.release_version }}"}
      - name: Checkout tls-gen
        uses: actions/checkout@v6
        with:
          repository: rabbitmq/tls-gen
          path: './tls-gen'
      - name: Start broker
        run: ci/start-broker.sh
      - name: Set up JDK for sanity check and documentation generation
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Sanity Check
        run: |
          wget -O stream-perf-test.jar https://github.com/rabbitmq/rabbitmq-stream-perf-test/releases/download/v${{ env.release_version }}/stream-perf-test-${{ env.release_version }}.jar
          java -jar stream-perf-test.jar --rate 100 --prometheus --time 10
      - name: Stop broker
        run: docker stop rabbitmq && docker rm rabbitmq
      - name: Publish Documentation
        run: |
          git config user.name "rabbitmq-ci"
          git config user.email "rabbitmq-ci@users.noreply.github.com"
          ci/publish-documentation-to-github-pages.sh
